/* CSS Rule for font-family:
    font-family: 'Libre Barcode 128', cursive;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-family: 'Libre Barcode 39 Extended', cursive;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-family: 'Nosifer',cursive;
    font-family: 'GFS Didot', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Extended&family=Libre+Barcode+39+Extended+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@font-face {
    font-family: "Mason Cipher";
    src: url("Masonic Cipher.ttf");
    font-family: "Minecraft";
    src: url("Minecraft.ttf");
}