body{
    margin: 0px
}
li{
    list-style-type: none;
    margin: 0px
}
ul{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px
}
.question_1{
    color: #794dff;
    opacity: 0.8;
    transition: 0.5;
}
.question_2{
    color: #79ff4d;
    opacity: 0.8;
    transition: 0.5;
}
.question_3{
    color: #4dffa6;
    opacity: 0.8;
    transition: 0.5;
}
.question_4{
    color: #ff794d;
    opacity: 0.8;
    transition: 0.5;
}
.question_5{
    color: #ff4d4d;
    opacity: 0.8;
    transition: 0.5;
}
.question_6{
    color: #ffa64d;
    opacity: 0.8;
    transition: 0.5;
}
.question_1:hover{
    text-decoration-line: underline;
    opacity: 1;
}
.question_2:hover{
    text-decoration-line: underline;
    opacity: 1;
}
.question_3:hover{
    text-decoration-line: underline;
    opacity: 1;
}
.question_4:hover{
    text-decoration-line: underline;
    opacity: 1;
}
.question_5:hover{
    text-decoration-line: underline;
    opacity: 1;
}
.question_6:hover{
    text-decoration-line: underline;
    opacity: 1;
}